doctype
html
    head
        meta(charset='utf-8')
        title Alien template
        meta(content='initial-scale=0.5, width=400, height=700' name='viewport')
        // STYLES
        link(rel='stylesheet' href='css/main.css')
        link(rel='stylesheet' href='css/animate.min.css')
        link(rel='stylesheet' href='fonts/fontawesome-free/css/all.css')
        link(rel='stylesheet' href='fonts/moonhouse/moonhouse.css')
        link(rel='stylesheet' href='fonts/Xolonium/Xolonium.css')
        link(rel='stylesheet' href='fonts/DJBGetDigital/DJBGetDigital.css')
    body
        // SCRIPTS

        script(src='js/jquery.min.js' charset='utf-8')
        script(src='js/popper.min.js' charset='utf-8')
        script(src='js/bootstrap.min.js' charset='utf-8')
        script(src='js/main.js' charset='utf-8')

        //video(width='800' height='250' loop='' controls='none' autoplay='' style='pointer-events: none;')
            //source(src='videoLo.mp4' type='video/mp4')

        div.container.container-800-480
            div.row
                p.h1.m-0.p-3.text-center.w-100 Introduce coordenadas de orientación de Antena

                div.py-2.col-4.ml-auto
                    label.small.text-primary LONGITUD
                    input.big.border.border-primary.form-control.form-control-alien(type="text", placeholder="456.353", maxlength=7, data-maxlength=7, autofocus)
                div.py-2.col-4.mr-auto
                    label.small.text-primary LATITUD
                    input.big.border.border-primary.form-control.form-control-alien(type="text", placeholder="765.372", maxlength=7, data-maxlength=7)
            div.row
                div.py-2.col-4.ml-auto
                    label.small.text-primary ACIMUT
                    input.big.border.border-primary.form-control.form-control-alien(type="text", placeholder="456.353", maxlength=7, data-maxlength=7)
                div.py-2.col-4.mr-auto
                    label.small.text-primary ELEVACIÓN
                    input.big.border.border-primary.form-control.form-control-alien(type="text", placeholder="765.372", maxlength=7, data-maxlength=7)

                p.h1.p-3.text-center.w-100 PULSA ENTER

        script.
            formsNode = $(".form-control-alien");
            indexTotal = formsNode.length;

            formsNode.keyup(function(e) {
                var code = e.which;
                var $this = $(this);
                var indexThis = formsNode.index(this);

                if ($this.val().length >= $this.data("maxlength") && code != 8) {
                    if ($this.val().length > $this.data("maxlength")) {
                        $this.val($this.val().substring(0,4));
                    }

                    if ((indexTotal-1) != indexThis) {
                        formsNode[(indexThis+1)].focus();
                        console.log("next");
                    } else {
                         formsNode[0].focus();
                    }
                }

                if ($this.val().length == 0 && code == 8) {
                    if (indexThis != 0) {
                        formsNode[(indexThis-1)].focus();
                        console.log("next");
                    } else {
                        formsNode[(indexTotal-1)].focus();
                    }
                    console.log("prev");
                }
             });
