doctype
html
    head
        meta(charset='utf-8')
        title Alien template
        meta(content='initial-scale=0.5, width=400, height=700' name='viewport')
        // STYLES
        link(rel='stylesheet' href='css/main.css')
        link(rel='stylesheet' href='css/animate.min.css')
        link(rel='stylesheet' href='fonts/fontawesome-free/css/all.css')
        link(rel='stylesheet' href='fonts/moonhouse/moonhouse.css')
        link(rel='stylesheet' href='fonts/FAM-Code/FAM-Code.css')
    body.bg-info
        // SCRIPTS

        script(src='js/jquery.min.js' charset='utf-8')
        script(src='js/popper.min.js' charset='utf-8')
        script(src='js/bootstrap.min.js' charset='utf-8')
        script(src='js/main.js' charset='utf-8')

        include includes/_alien_symbol.pug
        
        .interferencia