doctype
html
    head
        meta(charset='utf-8')
        title Alien template
        meta(content='initial-scale=0.5, width=400, height=700' name='viewport')
        // STYLES
        link(rel='stylesheet' href='css/main.css')
        link(rel='stylesheet' href='css/animate.min.css')
        //link(rel='stylesheet' href='fonts/fontawesome-free/css/all.css')
        //link(rel='stylesheet' href='fonts/moonhouse/moonhouse.css')
        link(rel='stylesheet' href='fonts/Xolonium/Xolonium.css')
        link(rel='stylesheet' href='fonts/DJBGetDigital/DJBGetDigital.css')

        // SCRIPTS

        script(src='js/jquery.min.js' charset='utf-8')
        script(src='js/popper.min.js' charset='utf-8')
        script(src='js/bootstrap.min.js' charset='utf-8')
        script(src='js/main.js' charset='utf-8')

        .container.container-800-480.p-0
            video.p-4(width='800' height='250' loop='' controls='none' autoplay='' style='pointer-events: none;')
                source(src='videoLo.mp4' type='video/mp4')

            //img(src='videoLo.gif')

            p.h1.px-5.text-center#maquina

            script.
                function maquina(texto, intervalo) {
                    longitud = texto.length;

                    //Adaptamos tamaño de texto según longitud de mensaje
                    if (longitud > 110) {
                        $('#maquina').removeClass('h1');
                        $('#maquina').removeClass('display-4');
                        $('#maquina').addClass('h2');
                        console.log('fuente h2');
                    } else if (longitud < 50) {
                        $('#maquina').removeClass('h2');
                        $('#maquina').removeClass('h1');
                        $('#maquina').addClass('display-4');
                        console.log('fuente ENORME');
                    } else {
                        $('#maquina').removeClass('h2');
                        $('#maquina').removeClass('display-4');
                        $('#maquina').addClass('h1');
                        console.log('fuente h1');
                    }

                    nodo =  $('#maquina')[0];
                    nodo.innerHTML = "";

                    var i = 0;
                    // Creamos el timer
                    timer = setInterval(function(){
                    // Vamos añadiendo letra por letra y la _ al final.
                    nodo.innerHTML = nodo.innerHTML.substr(0,nodo.innerHTML.length-1) + texto.charAt(i) + " ";

                    if (i >= longitud){
                        clearInterval(timer);
                        // Salimos del Timer y quitamos la barra baja (_)
                        //nodo.innerHTML = nodo.innerHTML.substr(0,longitud);
                        return true;
                    } else {
                        i++;
                        }},intervalo);
                    };

                var texto = "Aquí va la pista TAMAÑO MEDIO que te damos porque eres un paquete, probamos otra línea más y más y más líneas";
                var intervalo = 40;

                maquina(texto, intervalo);

                setTimeout(function(){
                    maquina('Aquí va la pista LAAARGA en texto pequeño y que te damos porque eres un paquete. Aquí va la pista que te damos porque eres un paquete. Aquí va la pista que te damos porque eres un paquete', 30);
                }, 7000);

