doctype
html
    head
        meta(charset='utf-8')
        title Menssge sender
        meta(content='initial-scale=0.5, width=400, height=700' name='viewport')
        // STYLES
        link(rel='stylesheet' href='css/main.css')
        link(rel='stylesheet' href='css/animate.min.css')
        link(rel='stylesheet' href='fonts/fontawesome-free/css/all.css')
        //link(rel='stylesheet' href='fonts/moonhouse/moonhouse.css')
        link(rel='stylesheet' href='fonts/Xolonium/Xolonium.css')
        link(rel='stylesheet' href='fonts/DJBGetDigital/DJBGetDigital.css')

        // SCRIPTS

        script(src='js/jquery.min.js' charset='utf-8')
        script(src='js/popper.min.js' charset='utf-8')
        script(src='js/bootstrap.min.js' charset='utf-8')
        script(src='js/main.js' charset='utf-8')
        script(src='js/clue-client.js' charset='utf-8')

        .container.pb-5.DJBGetDigital
            h1.text-center.my-3.text-white MSG SENDER INTERFACE
                a.btn.btn-outline-primary.btn-sm.float-right.mt-2#configuracion(title='Configuración')
                    i.fas.fa-cog.text-white
            .row
                .col-md-8
                    .form-group.text-white
                        label(for="msgSend") MENSAJE
                        span.small.ml-3.caracteres 0
                        span.small.ml-1 caracteres
                        .form-inline.row
                            .form-group.col-12.col-sm-7.col-md-8.col-lg-9.pr-md-0
                                textarea#msgSend(rows="4").msgSend.form-control.w-100
                            .form-group.col-sm-5.col-md-4.col-lg-3.text-center
                                #enviarTotal.btn.btn-primary.btn-block.btn-lg.py-3
                                    i.far.fa-share-square.d-none.d-xl-inline
                                    span.ml-lg-2 ENVIAR
                                .d-flex.mt-2.w-100
                                    .btn.btn-danger.btn-sm.mr-2.remove-text
                                        i.far.fa-trash-alt
                                    .btn.btn-warning.btn-sm.flex-fill GUARDAR
                    .form-group
                        label(for="msgSend") MENSAJES GUARDADOS
                        .bg-white
                            ul.list-group.list-group-flush.list-group-alien
                                li.list-group-item
                                    span Lorem ipsum dolor sit amet consectetur adipisicing elit
                                    .btn-group
                                        button.btn.btn-sm.btn-danger
                                            i.far.fa-trash-alt
                                        button.btn.btn-sm.btn-warning
                                            i.far.fa-edit
                                        button.btn.btn-sm.btn-primary.px-4 ENVIAR
                                li.list-group-item
                                    span Vel, nostrum nobis rem consequuntur impedit expedita delectus
                                    .btn-group
                                        button.btn.btn-sm.btn-danger
                                            i.far.fa-trash-alt
                                        button.btn.btn-sm.btn-warning
                                            i.far.fa-edit
                                        button.btn.btn-sm.btn-primary.px-4 ENVIAR
                                li.list-group-item
                                    span Corrupti quis voluptatibus! Vero possimus aspernatur numquam
                                    .btn-group
                                        button.btn.btn-sm.btn-danger
                                            i.far.fa-trash-alt
                                        button.btn.btn-sm.btn-warning
                                            i.far.fa-edit
                                        button.btn.btn-sm.btn-primary.px-4 ENVIAR
                                li.list-group-item
                                    span Deserunt odio error libero. Eligendi, quos odio!
                                    .btn-group
                                        button.btn.btn-sm.btn-danger
                                            i.far.fa-trash-alt
                                        button.btn.btn-sm.btn-warning
                                            i.far.fa-edit
                                        button.btn.btn-sm.btn-primary.px-4 ENVIAR
                                li.list-group-item
                                    span Quaerat odit quidem nemo obcaecati ipsa optio iure?
                                    .btn-group
                                        button.btn.btn-sm.btn-danger
                                            i.far.fa-trash-alt
                                        button.btn.btn-sm.btn-warning
                                            i.far.fa-edit
                                        button.btn.btn-sm.btn-primary.px-4 ENVIAR
                                li.list-group-item
                                    span Odit quidem nemo obcaecati ipsa optio iure?
                                    .btn-group
                                        button.btn.btn-sm.btn-danger
                                            i.far.fa-trash-alt
                                        button.btn.btn-sm.btn-warning
                                            i.far.fa-edit
                                        button.btn.btn-sm.btn-primary.px-4 ENVIAR

                .col-md-4.mt-4
                    .position-relative
                        img(src="images/tablet.png").img-fluid
                        span#copyMsg.copyMsg.position-absolute.small.text-center.text-break
                    .row.mt-4
                        .col-6
                            button.btn.btn-primary.btn-block.btn-sm.py-2
                                i.fas.fa-volume-up.d-none.d-lg-inline
                                span.ml-lg-2 SONIDO
                        .col-6
                            button.btn.btn-primary.btn-block.btn-sm.py-2
                                i.fas.fa-lightbulb.d-none.d-lg-inline
                                span.ml-lg-2 LUCES
                    .row.mt-4
                        .col-md-12
                            .form-group.text-white
                                span IMAGEN DEL RADAR
                                select#radarImages.mt-2.form-control.form-control-sm.col-md-12
                                    option Radar bucle normal
                                    option Radar detectando 1 alien
                                    option Radar stop
                                    option Radar detecta muchos alien

        // Modal
        #editModal.modal.fade(tabindex='-1')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        h5#editModalLabel.modal-title EDITAR MENSAJE
                        button.close(type='button' data-dismiss='modal' aria-label='Close')
                            span(aria-hidden='true') &times;
                    .modal-body
                        textarea#msgEdit(rows="4").msgEdit.form-control
                    .modal-footer
                        button.btn.btn-secondary(type='button' data-dismiss='modal') CERRAR
                        button.btn.btn-primary(type='button') SALVAR CAMBIOS

        #modalConfiguracion.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
            .modal-dialog.modal-dialog-centered.modal-lg(role='document')
                .modal-content
                    .modal-header
                        h1#exampleModalLabel.modal-title Configuración
                        button.close.text-primary(type='button' data-dismiss='modal' aria-label='Close')
                            span(aria-hidden='true') &times;
                    .modal-body
                        h2.h3 DATOS DE SERVIDOR:

                        label(for='IP') ID de dipositivo 1 que recibe notificaciones
                        .form-row
                            .col.col-md-2
                                input.form-control#HTTP1(type='text' placeholder='http://' value='http://')
                            .col-7.col-md-4
                                input.form-control#IP1(type='text' placeholder='192.168.x.xx' value='raspberrypitablet.local')
                            .col.col-md-2
                                input.form-control#port1(type='text' placeholder='3000' value='3000')
                        //- label.mt-4(for='IP') ID de dipositivo 2 que recibe notificaciones
                        //- .form-row
                        //-     .col.col-md-2
                        //-         input.form-control#HTTP1(type='text' placeholder='http://' value='http://')
                        //-     .col-7.col-md-3
                        //-         input.form-control#IP2(type='text' placeholder='192.168.x.xx')
                        //-     .col.col-md-2
                        //-         input.form-control#port2(type='text' placeholder='8001')
                    .modal-footer
                        button.btn.btn-secondary(type='button' data-dismiss='modal') CERRAR
                        button.btn.btn-primary#configuracionSave(type='button') SALVAR CAMBIOS

        script(src='js/msg-send.js' charset='utf-8')