doctype
html
    head
        meta(charset='utf-8')
        title Alien template
        meta(content='initial-scale=0.5, width=400, height=700' name='viewport')
        // STYLES
        link(rel='stylesheet' href='css/main.css')
        link(rel='stylesheet' href='css/animate.min.css')
        link(rel='stylesheet' href='fonts/fontawesome-free/css/all.css')
        link(rel='stylesheet' href='fonts/moonhouse/moonhouse.css')
        link(rel='stylesheet' href='fonts/Xolonium/Xolonium.css')
        link(rel='stylesheet' href='fonts/DJBGetDigital/DJBGetDigital.css')
    body
        // SCRIPTS

        script(src='js/jquery.min.js' charset='utf-8')
        script(src='js/popper.min.js' charset='utf-8')
        script(src='js/bootstrap.min.js' charset='utf-8')
        script(src='js/main.js' charset='utf-8')

        .container-800-480.container.d-flex.align-items-center
            .row
                .col-md-7
                    .row.mb-4
                        .col-4
                            button.btn.btn-alien-xl.btn-outline-primary 1
                        .col-4
                            button.btn.btn-alien-xl.btn-outline-primary 2
                        .col-4
                            button.btn.btn-alien-xl.btn-outline-primary 3
                    .row.mb-4
                        .col-4
                            button.btn.btn-alien-xl.btn-outline-primary 4
                        .col-4
                            button.btn.btn-alien-xl.btn-outline-primary 5
                        .col-4
                            button.btn.btn-alien-xl.btn-outline-primary 6
                    .row
                        .col-4
                            button.btn.btn-alien-xl.btn-outline-primary 7
                        .col-4
                            button.btn.btn-alien-xl.btn-outline-primary 8
                        .col-4
                            button.btn.btn-alien-xl.btn-outline-primary 9
                .col-md-5.text-center.d-flex.align-items-start.flex-column
                    .border.border-primary.py-4.mb-auto.w-100
                        h1 1. Validación primer paso 
                            strong.mt-4.d-block PASSWORD

                    .border.border-primary.py-4.w-100.access-msg
                        input.form-control.form-control-lg.form-control-alien(type='text', placeholder='PASSWORD')

        script(src='js/games/pass.js' charset='utf-8')