doctype
html
    head
        meta(charset='utf-8')
        title Testing GPIO
        meta(content='initial-scale=1' name='viewport')
        // STYLES
        link(rel='stylesheet' href='css/main.css')
        //link(rel='stylesheet' href='css/animate.min.css')
        //link(rel='stylesheet' href='fonts/fontawesome-free/css/all.css')
        //link(rel='stylesheet' href='fonts/moonhouse/moonhouse.css')
        //link(rel='stylesheet' href='fonts/Xolonium/Xolonium.css')
        link(rel='stylesheet' href='fonts/DJBGetDigital/DJBGetDigital.css')

        // SCRIPTS

        script(src='js/jquery.min.js' charset='utf-8')
        script(src='js/popper.min.js' charset='utf-8')
        script(src='js/bootstrap.min.js' charset='utf-8')
        script(src='js/main.js' charset='utf-8')
        script(src='js/clue-client.js' charset='utf-8')

        .container.pb-5.DJBGetDigital
            h1.text-center.my-3.text-white PIO TESTER

            .row.border.border-primary.p-4.position-relative
                h2.h4 iteration 01
                button.btn.btn-primary.btn-sm.position-absolute.left-0.p-1(style="right:-5px;top:-5px;") +

                .form-group.col-12.border.border-primary.p-3
                    label.text-left Message
                    textarea(rows="2").msgSend.form-control.w-100

                .col-12.form-group
                    .row.border.border-primary.p-4.position-relative
                        .col-2.col-lg-3.pl-0
                            label.text-left Variable
                            input(type="text", placesholder="Video").form-control
                        .col-2.col-lg-3.pl-0
                            label.text-left Valor
                            input(type="text", placesholder="video4.avi").form-control

                .col-12.form-group
                    .row.border.border-primary.p-4.position-relative
                        button.btn.btn-primary.btn-sm.position-absolute.left-0.p-1(style="right:-5px;top:-5px;") +

                        .col-2.col-lg-2.pl-0
                            label PIO:
                            select.form-control
                                option(selected='1') PIO 1
                                option(value='2') PIO 2
                                option(value='3') PIO 3
                                option(value='4') PIO 4
                        .col-3.col-lg-2
                            label.text-left Delay (ms)
                            input(type="number", placesholder="100").form-control
                        .col-3.col-lg-2
                            label.text-left Duration (ms)
                            input(type="number", placesholder="100").form-control
                        .col-3.col-lg-2
                            label.text-left Repetition (ms)
                            input(type="number", placesholder="100").form-control
