@font-face {
    font-family: 'FAM-Code';
    src: url('FAM-Code.eot');
    src: url('FAM-Code.eot?#iefix') format('embedded-opentype'),
        url('FAM-Code.woff2') format('woff2'),
        url('FAM-Code.woff') format('woff'),
        url('FAM-Code.svg#FAM-Code') format('svg');
    font-weight: normal;
    font-style: normal;
}

