@font-face {
    font-family: 'Xolonium';
    src: url('Xolonium.eot');
    src: url('Xolonium.eot?#iefix') format('embedded-opentype'),
        url('Xolonium.woff2') format('woff2'),
        url('Xolonium.woff') format('woff'),
        url('Xolonium.svg#Xolonium') format('svg');
    font-weight: normal;
    font-style: normal;
}