doctype
html
    head
        meta(charset='utf-8')
        title Alien template
        meta(content='initial-scale=0.5, width=400, height=700' name='viewport')
        // STYLES
        link(rel='stylesheet' href='css/main.css')
        link(rel='stylesheet' href='css/animate.min.css')
        link(rel='stylesheet' href='fonts/fontawesome-free/css/all.css')
        link(rel='stylesheet' href='fonts/moonhouse/moonhouse.css')
        link(rel='stylesheet' href='fonts/Xolonium/Xolonium.css')
        link(rel='stylesheet' href='fonts/DJBGetDigital/DJBGetDigital.css')
    body
        // SCRIPTS

        script(src='js/jquery.min.js' charset='utf-8')
        script(src='js/popper.min.js' charset='utf-8')
        script(src='js/bootstrap.min.js' charset='utf-8')
        script(src='js/main.js' charset='utf-8')

        div.container-800-480.container.d-flex.align-items-center
            div.row.text-center
                .col-6
                    a(href='password.html').m-2.btn.btn-primary GAME - Password
                .col-6
                    a(href='secuencia.html').m-2.btn.btn-primary GAME - Secuencia
                .col-6
                    a(href='ficha.html').m-2.btn.btn-primary GAME - Fichas Experimento
                .col-6
                    a(href='msg.html').m-2.btn.btn-primary GAME - Mensajes Tablet
                .col-6
                    a(href='antena.html').m-2.btn.btn-primary GAME - Antena Coordenadas