doctype
html
    head
        meta(charset='utf-8')
        title Alien template
        meta(content='initial-scale=0.5, width=400, height=700' name='viewport')
        // STYLES
        link(rel='stylesheet' href='css/main.css')
        link(rel='stylesheet' href='css/animate.min.css')
        //link(rel='stylesheet' href='fonts/fontawesome-free/css/all.css')
        //link(rel='stylesheet' href='fonts/moonhouse/moonhouse.css')
        link(rel='stylesheet' href='fonts/Xolonium/Xolonium.css')
        link(rel='stylesheet' href='fonts/DJBGetDigital/DJBGetDigital.css')

        // SCRIPTS

        script(src='js/jquery.min.js' charset='utf-8')
        script(src='js/popper.min.js' charset='utf-8')
        script(src='js/bootstrap.min.js' charset='utf-8')
        script(src='js/main.js' charset='utf-8')

        .container.container-800-480.p-0
            .a01.mx-auto(style='width:315px;animation-duration:4.5s;transform: scale3d(1,1,1);background: url(../images/alien_radar_sprite_01.gif) no-repeat;')

            div.d-flex.align-items-center(style='height:228px')
                p.h1.w-100.px-5.mb-0.text-center#maquina

            script.
                function maquina(texto) {
                    longitud = texto.length;

                    //Adaptamos tamaño de texto según longitud de mensaje
                    if (longitud > 110) {
                        $('#maquina').removeClass('h1');
                        $('#maquina').removeClass('display-4');
                        $('#maquina').addClass('h2');
                        console.log('fuente h2');
                    } else if (longitud < 50) {
                        $('#maquina').removeClass('h2');
                        $('#maquina').removeClass('h1');
                        $('#maquina').addClass('display-4');
                        console.log('fuente ENORME');
                    } else {
                        $('#maquina').removeClass('h2');
                        $('#maquina').removeClass('display-4');
                        $('#maquina').addClass('h1');
                        console.log('fuente h1');
                    }

                    nodo =  $('#maquina')[0];
                    nodo.innerHTML = texto;
                    $('#maquina').animateCss('trikiMsg');
                }

                var texto = "Aquí va la pista TAMAÑO MEDIO que te damos porque eres un paquete, probamos otra línea más y más y más líneas";

                setTimeout(function(){
                    maquina(texto);
                }, 2000);

                setTimeout(function(){
                    maquina('Aquí va la pista LAAARGA en texto pequeño y que te damos porque eres un paquete. Aquí va la pista que te damos porque eres un paquete. Aquí va la pista que te damos porque eres un paquete');
                }, 7000);

                setTimeout(function(){
                    maquina('Aquí va la pista PEQUEÑA en texto pequeño');
                }, 12000);

