@import "variables";

@import "./node_modules/bootstrap/scss/bootstrap";

@import "animations";

$btn-alien-xl-size: 120px;
$btn-alien-xl-text-size: 60px;

.cursor-none {
  cursor: none;
}

.container-800-480 {
  max-width: 800px;
  height: 480px;
  overflow: hidden;
  border: 1px solid $primary;
}

.opacity-0 {
  opacity: 0 !important;
}

.hide {
  display: none !important;
}

.btn-alien-group {
  max-width: ($btn-alien-xl-size * 7);
  text-align: center;
  height: 100vh;
}

.modal-header {
  border-bottom: 1px solid $primary;
}

.font-FAM-Code {
  font-family: FAM-Code;
}

.font-DJBGetDigital {
  font-family: DJBGetDigital;
}

.font-Xolonium {
  font-family: Xolonium;
}

.btn-alien-xl {
  width: $btn-alien-xl-size;
  height: $btn-alien-xl-size;
  font-size: $btn-alien-xl-text-size;
  transition: none;

  &:after {
    // transition: all 0.2s ease;
    content: '';
    height: 24px;
    width: 4px;
    background-color: $primary;
    position: absolute;
    left: calc(50% - 4px);
    top: calc(100% - 24px);
    opacity: 0;
  }

  &:not(.animated):after {
    opacity: 1;
  }
}

input.form-control-alien {
  &, &:hover, &:focus, &:active, &:disabled {
    background-color: transparent;
    border: none;
    text-align: center;
    color: $primary;
    font-size: 2.2rem;
    letter-spacing: 3px;
  }
}

.form-control::placeholder {
  font-family: $font-family-sans-serif;
}

label {
  color: #FFF;
}

.modal label {
  color: inherit;
}

.vh-100 {
  height: 100vh;
}

.overflow-auto {
  overflow-y: auto;
}

.nav-pills {
  border-bottom: 1px solid $primary;
}

body {
  &.correcto {
    .access-msg {
      background-color: $primary;

      .form-control::placeholder {
        color: #FFF;
      }
    }
  }

  &.incorrecto {
    .access-msg {
      background-color: red;

      .form-control {
        color: #FFF;

        &::placeholder {
          color: #FFF;
        }
      }
    }
  }
}

// loading server mark

div#__bs_notify__ {
  left: 50% !important;
  top: 50% !important;
  right: initial !important;
  position: fixed !important;
  background-color: $primary !important;
  border-radius: 50% !important;
  font-size: 0rem !important;

  &::before {
    font-size: 1rem !important;
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    content: "\f1ea";
  }
}

.copyMsg {
  left: 25%;
  padding: 5px;
  top: 50%;
  height: 30%;
  width: 51%;
  overflow: hidden;
  word-break: break-word;
  overflow-wrap: break-word;
  //border: 1px solid $primary;
}

.list-group-alien {
  max-height: 168px;
  overflow-x: hidden;

  .btn-group {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;

    .btn {
      height: 100%;
    }
  }

  .list-group-item {
    padding: 4px 14px;

    &:hover .btn-group {
      display: flex;
    }
  }
}

.list-group-item {
	counter-increment: lists;
}

.list-group-alien .list-group-item:before {
	content: counter(lists) ' - ';
}